# MapTiler API key
VITE_MAPTILER_KEY=

# Thunderforest API key
VITE_THUNDERFOREST_KEY=

# Sentinel Hub / Copernicus Data Space
# Necessario per layer Sentinel-2, NDVI e servizi OGC WMS/WMTS
VITE_SENTINEL_HUB_INSTANCE_ID=

# Usare client id/secret solo lato backend se possibile
VITE_SENTINEL_HUB_CLIENT_ID=
VITE_SENTINEL_HUB_CLIENT_SECRET=

VITE_COPERNICUS_BASE_URL=https://sh.dataspace.copernicus.eu
