.layoutContentBack {
  width: 100%;
  display: flex;
  justify-content: right;
}
.button {
  font-size: calc(12px + 1vh);
  font-weight: 600;
  color: var(--primary-color-text);
  background-color: var(--primary-color);
}
.button:hover {
  color: var(--secondary-color-text);
  background-color: var(--secondary-color);
}
button {
  background-color: var(--primary-color);
  border: 0;
  border-radius: 7px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
  color: var(--primary-color-text);
  font-size: 16px;
  padding: 12px 25px;
  bottom: 30px;
  right: 30px;
  letter-spacing: 1px;
}
button:hover {
  cursor: pointer;
  background-color: var(--secondary-color);
  color: var(--secondary-color-text);
}
