.Header {
  overflow: hidden;
  background-color: var(--background-secondary);
  padding: 10px 20px;
  margin: 0 0 12px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  box-sizing: border-box;

  @media (max-width: 600px) {
    flex-direction: column;
    padding: 15px;
    gap: 15px;
  }

  a {
    color: black;
    text-align: center;
    padding: 8px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
  }

  a.logo {
    display: flex;
    align-items: center;
    padding: 0;
  }

  a.logo img {
    padding: 0;
    max-width: 200px;
    width: 40vw;
  }
}
