.layoutContentItem {
  margin-top: 3vh;
  margin-left: 20%;
  width: 60%;
  display: flex;
  flex-direction: column;
}
.form div {
  margin-bottom: 0.5vh;
  margin-top: 0.5vh;
}
.submitcontainer {
  width: 100%;
  display: flex;
  justify-content: center;
}
.buttonsubmit {
  width: 80%;
}
